section {
  width: 90%;
  margin: 0 auto;
}

section .mode {
  position: absolute;
  border: none;
  background-color: #bdc775;
  top: 0;
  right: 0;
  padding: 5px;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header .clear-post {
  background-color: #fda044;
  padding: 7px 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.search-input {
  outline: none;
  padding: 7px 10px;
  border: 2px solid orange;
  border-radius: 5px;
}

.result {
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fcf3e1;
  justify-content: space-between;
  margin-top: 10px;
  padding: 15px;
  gap: 10px;
}

.form .add-post {
  background-color: #fda044;
  padding: 7px 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.form input {
  outline: none;
  padding: 7px 10px;
  border: none;
  border-radius: 3px;
}

.form .body {
  width: 60%;
}

.posts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 8px;
  text-align: justify;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.posts a {
  color: black;
  text-decoration: none;
}

.posts a .post {
  height: 15rem;
  width: 15rem;
}
